/* CSS reset */
@layer base {
    *, *::before, *::after {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      outline: none;
    }

    input::-ms-reveal,
    input::-ms-clear {
      display: none;
    }
}

/* theme variable reset */
@theme {
  --*: initial;
}