@theme inline static {
    --color-bg-dft: var(--color-neutral-50);

    --color-ln-sub: var(--color-neutral-500);
    --color-ln-dng: var(--color-red-700);
    
    --color-txt-dft: var(--color-neutral-950);
    --color-txt-sub: var(--color-neutral-500);
    --color-txt-dng: var(--color-red-700);
    
    --color-btn-dft: var(--color-neutral-950);
    --color-btn-lnk: var(--color-neutral-50);

    --color-btndsb-dft: var(--color-neutral-500);

    --color-btntxt-dft: var(--color-neutral-50);
    --color-btntxt-lnk: var(--color-neutral-950);

    --color-svg-dft: var(--color-neutral-500);
}