:root {
    /* breakpoint css variables must go with breakpoint theme variables for readability */
    --bp-600: 600px;
    --bp-780: 780px;
    --bp-960: 960px;

    /* CSS variables not mapped to Tailwind theme */
    --ln-click: 0.1rem;
    --ln-pad: 0.5rem;

    --spacing-4: 0.25rem;
    --spacing-8: 0.5rem;
    --spacing-16: 1rem;
    --spacing-40: 2.5rem;
    --spacing-48: 3rem;
    --spacing-80: 5rem;
}